<div class="blog-cards px-2 md:px-16 lg:px-36 pt-4 my-16 flex flex-col justify-center items-center">
    <h1 class="py-8 text-2xl">Popular Blogs</h1>
    <div class="card-group grid grid-cols-3 relative gap-4">
        <!-- cards -->
        <% blogs.forEach((blog) => { %>
            <a href="/blogs/<%= blog.id %> " class="col-span-3 md:col-span-1 ">
                <div class="blog-card rounded-lg bg-slate-50 p-4 h-96 text-slate-900 relative shadow">
                    <div class="img w-full h-3/4 rounded-lg relative">
                        <img src="<%= blog.thumbnail %>" alt="#" class="rounded-lg w-full h-full object-cover">
                    </div>
                    <div class="content font-bold mt-2 line-clamp-1">
                        <%= blog.title %>
                    </div>
                    <div class="content text-xs line-clamp-2">
                        <%= blog.description %>
                    </div>
                    <div class="flex justify-between w-full mt-8 absolute left-0 bottom-2 pl-4 pr-8">
                        <span class="text-xs">By <span class="font-bold"><%= blog.author %></span></span>
                        <span class="text-xs"><%= blog.date %></span>
                    </div>
                 </div> 
            </a>   
        <%}) %>
    </div>
</div>