<%- include('partials/header')%>
<div class="main px-2 md:px-4 lg:px-16 bg-gradient-to-br from-blue-500 to-blue-900 to-95%">
    <%- include('partials/navbar')%>
    <%- include('partials/sectionHeader')%>
</div>

<!-- Card Groups -->
    <%- include('partials/cards')%>
<!-- End of cards -->

<!-- Declaration -->
<div class="p-2 md:px-4 lg:px-16 my-8">
    <div class="w-full h-fit md:h-80 bg-red-300 grid grid-cols-3 grid-rows-2 rounded-md overflow-hidden">
        <div class="bg-slate-100 col-span-3 row-start-2 md:row-start-1 md:row-span-2 row-span-1 md:col-span-2">
            <div class="h-72 pt-16 pb-16 px-4 md:px-16 md:pr-24 flex flex-col items-center md:items-start gap-4 text-slate-800">
                <div class="text-xl font-semibold">Why I stated codeBLOG!</div>
                <div class="text-center md:text-left text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex perspiciatis, et id accusantium veniam optio saepe ipsum!</div>
                <div class="profile-image flex items-center justify-center gap-4">
                    <div class="h-16 w-16 bg-red-300 rounded-full overflow-hidden">
                        <img src="/images/1.jpg" alt="profile" class="w-full h-full object-cover">
                    </div>
                    <div class="">
                        <div>Co Founder</div>
                        <div class="text-sm font-light">Date</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-gradient-to-bl from-orange-300 to-orange-500 h-72 md:h-full col-span-3 row-start-1 md:col-span-1 md:row-start-1 md:row-span-2 relative">
            <img src="/images/creator.png" alt="creator" class="w-full h-full md:scale-125 lg:scale-110 object-contain md:absolute md:-left-24 md:-top-0">
        </div>
    </div>
</div>
<!-- end of declaration -->

<!-- Display cards -->
<%- include('partials/displayCards')%>
<!-- End of display cards -->

<!-- Display cards -->
<%- include('partials/testmonial')%>
<!-- End of display cards -->
<%- include('partials/footer')%>